
.main {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    padding: 10px;
    color : #ffffff;
    font-size: 48px;
    white-space: pre-line;
    text-align: center;
}

.subtitle {
    padding: 10px;
    color : #ffffff;
    font-size: 20px;
    white-space: pre-line;
    text-align: center;
}

.h50 {
    height: 50px;
}

.company_section {
    display: flex;
    flex-direction: row;
    width: calc(100% / 2);
    justify-content: space-between;
}

.coach_btn {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
    color: #ffffff;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
}

/* 모바일 스타일 */
@media only screen and (max-width: 767px) {
    .company_section {
        display: flex;
        width: auto;
        justify-content: space-between;
    }
}