.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: #181818;
}

.contents {
    display: flex;
    width: 96%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    ul {
        display: flex;
        list-style: none;
        color: #ffffff;

        li {
            cursor: pointer;
        }

        li+li {
            margin-left: 30px;
        }
    }
}

.login_box {
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    border: 1px solid #ffffff;
}

.login_text {
    color: #ffffff;
}

/* 모바일 스타일 */
@media only screen and (max-width: 767px) {
    .header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 107px;
        margin: 0;
        padding: 0 auto;
        background-color: #181818;
    }

    .contents {
        display: flex;
        width: auto;
        height: 100%;
        padding-right: 16px;
        padding-left: 24px;
        justify-content: space-between;
    }

    .menu_icon {
        cursor: pointer;
    }

    .menu {
        background: #4e4e4e;
        position: absolute;
        width: 120px;
        right: 3%;
        text-align: center;
        list-style: none;
        padding: 10px 0 10px 0;
        margin: 0;
        

        &>li {
            color: #ffffff;
        }

        li+li {
            margin-top: 10px;
        }
    }
}