
.main {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
}

.h17 {
    height: 17px;
}

.subtitle {
    color : #ffffff;
    font-size: 26px;
    white-space: pre-line;
    text-align: center;
}

.title {
    color : #ffffff;
    font-size: 80px;
    white-space: pre-line;
    text-align: center;
}

.h35 {
    height: 35px;
}
