.main {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
}

.h100 {
    height: 100px;
}

.h62 {
    height: 62px;
}

.h27 {
    height: 27px;
}

.h40 {
    height: 40px;
}

.h5 {
    height: 5px;
}

.h25 {
    height: 25px;
}

.subtitle {
    color : #ffffff;
    font-size: 20px;
    white-space: pre-line;
    text-align: center;
}

.title {
    color : #ffffff;
    font-size: 52px;
    white-space: pre-line;
    text-align: center;
}

.card_section {
    padding: 20px;
}

.card {
    border-radius: 10px;
    background-color: rgba($color : #ffffff, $alpha: 0.1);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18.5px;
    padding-bottom: 25px;
    width: auto;


    .title_section {
        display: flex;
        align-items: center;

        .title {
            color : #ffffff;
            font-size: 20px;
            padding: 10px;
            white-space: pre-line;
            text-align: left;
        }    
    
        .title_image{
            width: 25px;
            height: 25px;   
        }
    }

    .content {
        color : #ffffff;
        font-size: 16px;
        white-space: pre-line;
        text-align: left;
    }    
}