
.main {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color : #ffffff;
    font-size: 46px;
    padding: 10px;
    white-space: pre-line;
    text-align: center;
}

.h50 {
    height: 50px;
}

.review_container{
    display: grid;
    width: calc(100% * 0.6);
    grid-template-columns: 1fr 1fr;
    row-gap: 23px;
    column-gap: 20px;
}

.review {
    padding: 40px;
    border: 1px solid;
    border-radius: 10px;
    border-color: #ffffff;

    .author {
        display: flex;

        .author_type {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
        }

        .author_info {
            display: flex;
            flex-direction: column;
            color: #ffffff;
        }
    }

    .content {
        color: #ffffff;
        font-size: 16px;
        line-height: 24px;
    }
}

.h30 {
    height: 30px;
}

.w13 {
    width: 13px;
}

.review_ {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

/* 모바일 스타일 */
@media only screen and (max-width: 767px) {
    .review_container{
        display: grid;
        grid-template-columns: auto;
        width: auto;
        max-width: 352px;
        gap: 20px;
    }
}