h1 {
  text-align: center;
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 40px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row label {
  padding: 20px;
  cursor: pointer;
  display: flex;
}

.iconBox {
  position: relative;
  display: flex;
  width: 120px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #303030;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.5s;
  user-select: none;
}

.iconBoxChecked {
  background: linear-gradient(138deg, #da2c4d, #f8ab37);
  color: #fff;
}

img {
  width: 40px;
  margin: 12px;
}