* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #f0eff3;
}

body {
    background-color: #1b1c24;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    background-color: #181818;
    min-height: 100vh;
}

.inputBox {
    background-color: #181818;
    min-height: 80%;
    padding-top: 80px;
    padding-left: 24px;
    padding-right: 24px;
}

.submit {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 18px;
    height: 50px;
    width: 100%;
    font-weight: 400;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    line-height: normal;
    background: linear-gradient(90deg, #5522fa 0, #0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;

    :hover {
        box-shadow: 0 0 0 0.15rem #5ceace;
    }
}